<div class="d-sm-flex flex-row justify-content-between card card-body task">

    <div>
        <h3 class="card-title">{{task.title}}</h3>
        <p class="card-subtitle">{{task.date}} <br>{{task.hour}}</p>
    </div>

    <div class="taskAside d-sm-flex flex-column justify-content-between">
        <fa-icon [icon]="faTimes" class="x" (click)="onDelete(task)"></fa-icon>
        <fa-icon [icon]="faClock" class="clock" (click)="onToggle(task)" [ngClass]="{reminder:task.reminder}"></fa-icon>
    </div>
</div>