.task {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.541);
    color:rgb(0, 0, 0);
    border: transparent;
    border-radius: 6px;
}

/*.taskAside{

}*/
.x {
    color: rgb(199, 0, 0);
    cursor: pointer;
}

.x:hover {
    color: red;
}

.clock {
    color: rgb(167, 167, 167);
    cursor: pointer;
}

.clock:hover {
    color: rgb(104, 144, 218);
}

.clock.reminder {
    color: rgb(18, 83, 168);
}
